/* Wajib untuk membuat Leaflet Peta terlihat */
#mapid {
    height: 600px; /* Tentukan ketinggian peta */
    width: 100%;
    z-index: 1; /* Pastikan peta berada di bawah elemen lain */
}

/* Style untuk Panel Dashboard */
.dashboard-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Pastikan panel berada di atas peta */
    width: 300px;
}

.dashboard-panel h2 {
    margin-top: 0;
    font-size: 1.5em;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#sensor-data-list {
    list-style-type: none;
    padding: 0;
}

#sensor-data-list li {
    padding: 5px 0;
    border-bottom: 1px dashed #eee;
}